/*
font-family: 'Lobster', cursive;
font-family: 'Pattaya', sans-serif;
*/



body {
	font-size:12px;
	color:#333;
	overflow-x:hidden; 
}


.top-div {
	background:url('../img/bg_new.jpg') center center no-repeat rgba(0, 0, 0, 0.5) fixed;
	padding: 100px 0;
	color:#fff;
}

.top-div .attracter {
	text-align: center;
	font-family: 'Lobster', cursive;
	color:#fff;
	text-shadow: 1px 1px 1px #333;
}


.an {
	opacity: 0;
}

.product-section {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px dashed #eee;
}

.product-section .discount {
	position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 16px;
    color: red;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 1px #999;
}



.prices * {
	font-family: 'Pattaya', sans-serif;
	font-size:25px;
}

.prices del {
	font-size:18px;
	color:#999;
}

.prices .price>small {
	color:red;
}

.product-section h4 {
	font-family: 'Pattaya', sans-serif;
	color:#666;
	text-align: center;
	font-size:25px;
}


.product-section ul li {
	padding: 3px 0;
}

.product-section ul li i {
	padding-right: 10px;
}


.container>h3 {
	margin: 45px 0;
	font-family:'Lobster', cursive, Arial;
}

span.highlight {
	color:red;
}

.container>h3 span {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}


.form button {
  margin-top: 15px;
}



/* menu  custom style */


#custom-bootstrap-menu {

font-family: 'Pattaya', sans-serif;
font-weight: lighter;
	/*
font-family: "Arial Narrow";
*/
}


#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #fff;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(248, 248, 248, 0);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(191, 191, 191, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(231, 231, 231, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}






/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
   
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    	 #custom-bootstrap-menu.navbar-default {
    	 	background: #666;
    	 }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }