/*
font-family: 'Lobster', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'El Messiri', sans-serif;
*/



body {
	font-size:13px;
	color:#444;
	overflow-x:hidden; 
	font-family: Arial,'El Messiri', sans-serif;
}



.navbar-header a {
  padding-top:5px;
}

.navbar-header a img {
  height:40px;
}


.top-div {
	background:url('../img/bg_new.jpg') center center no-repeat rgba(0, 0, 0, 0.5) fixed;
	padding: 100px 0;
	color:#fff;

}

.top-div .attracter {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Lobster', cursive;
	color:#fff;
	text-shadow: 1px 1px 1px #333;
}


 .bxslider .attracter {
   font-size:33px;
   text-align: left;
 }

.top-div .attracter-add {
	font-family: 'El Messiri', sans-serif;
}


.advantages {
	text-align: center;
	padding: 25px 0;
}

.advantages i {
	font-size: 38px;
	text-shadow: 1px 1px 1px #333;
	padding-bottom: : 15px;
}

.advantages div.description {
	padding: 0 15px;
}




.advantages-slider {
  border:5px solid #fff;
  height:150px;
  box-shadow: 0 0 2px #333;
  width:150px;
  border-radius: 150px;
  text-align: center;
}


.advantages-slider i {
  font-size:65px;
  color: #489FDF;
  text-shadow: 1px 0 4px #333;
  line-height: 150px;
}





.an {
	opacity: 0;
}

.product-section {
  display: table;
  position: relative;
  overflow: hidden;
  background: #fff;
  padding-top: 10px;
  margin: 25px 0;
  border: 1px solid #eee;
  border-bottom:2px solid #6ab3e8;
}

.product-section:hover {
    box-shadow: 0 2px 3px #ddd;
   border-bottom-color: #489FDF;
}


.product-section  table {
  font-family: 'El Messiri', sans-serif;
}

.product-section img {

}

.product-section .discount {
	position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 130%;
    color: #ff6e6e;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 1px #999;
}

.prices {
    text-align: center;
}


.prices * {
	font-family: 'Pattaya', sans-serif;
	font-size:25px;
}

.prices del {
	font-size:130%;
	color:#999;
}

.price>small, .price>small>sup {
	color:#ff6e6e;
    font-size: 14px;
}

.product-section h4 {
	font-family: 'Pattaya', sans-serif;
	color:#489FDF;
	text-align: center;
}

.product-section h6 {
	font-weight: bold;
}


.product-section ul li {
	padding: 3px 0;
}

.product-section ul li i {
	padding-right: 10px;
  color:#489FDF;
}


.container>h3.head {
	margin: 45px 0 15px 0;
	font-family:'Lobster', cursive, Arial;
}

.container>h3+h5 {
font-family: 'El Messiri', sans-serif;
}

span.highlight {
	color:#ff6e6e;
}

.container>h3 span {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.container>h3+h5 {
	text-align: center;
}


.form button {

}


label {
  font-size: 11px;
}


.discount-holder {
position: absolute;
top:100px;
left:10px;
height:60px;
width:60px;
background: #ff6e6e;
padding: 5px;
border-radius: 30px;
}

.discount-holder>div {
  border-radius: 30px;
  text-align: center;
  width:100%;
  border:1px solid #fff;
  height:100%;
  font-size: 18px;
  font-family: 'Lobster', cursive;
  line-height: 50px;
  color:#fff;
}


.discount-holder-corner {
   -moz-transform: rotate(-45deg); /* Для Firefox */
    -ms-transform: rotate(-45deg); /* Для IE */
    -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-45deg); /* Для Opera */
    transform: rotate(-45deg);
    position: absolute;
    background: #ff6e6e; 
    color: #fff;
    font-size: 16px;
    font-family: 'Lobster', cursive;
    z-index: 1;
    left:-95px;
    top:-2px;
}

.discount-holder-corner div {
  border:1px dotted #fff;
  margin:3px;
  padding: 10px  100px;
}


.sizes td {
    font-weight: bold;
}

.prices-for-sizes td {
    font-size: 120%;

}


.matress-advantages {
  text-align: center;
}

.matress-advantages i {
  font-size:26px;
  color: #489FDF;
}

.ma-description {
  font-size:11px;
}


.matress-advantages i {
  padding: 15px 0;
}



/*  modal windows  */


.modal-window {
    font-size: 12px;
}


.modal-window .pay_price {
font-size: 16px; font-weight: bold;
padding-left: 15px;
}

.modal-window .attention {
  color:#ff6e6e;
}

.modal-row {
  padding-top:20px;
}



.modal-window .input-group-addon, .modal-window .input-group-btn {
  width: inherit;

}

.modal-description {
  text-align: justify;
}


.modal-price {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  padding: 10px 0 15px 0;
}








/* bxslider override */

.bx-wrapper .bx-viewport {
    -moz-box-shadow:none;
     -webkit-box-shadow: none; 
    box-shadow: none; 
    border: none; 
    left: 0; 
    background: none; 
}





/* customize iziModal */

.iziModal-header-title {
    font-size: 20px!important;
}




/* menu  custom style */


#custom-bootstrap-menu {

}


#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 13px;
    z-index:2;
    font-weight: bold;
    font-family: Arial;
    background-color: #489FDF;
    border-bottom-width: 0px;
    box-shadow: 0 1px 2px #666;
    box-shadow: inset 0 -10px 15px -12px rgba(0, 0, 0, 0.3), 0 0 0px #555;
    border-bottom: 2px solid #f4f4f4;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #eee;
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(231, 231, 231, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #489FDF;
}




/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

     
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

   
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .product-section img {
           padding: 0 ;
         }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      .top-div {
        background:url('../img/bg_new.jpg') center center no-repeat rgba(0, 0, 0, 0.5) fixed;
        padding: 50px 0;
        color:#fff;
       }


    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }